.counter {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.plus {
  background-color: red;
  color: white;
  border: none;
}

.minus {
  background-color: blue;
  color: white;
  border: none;
}
